# Python for Spatial Analysis
## Second part of the module of GG3209 Spatial Analysis with GIS.
### Notebook to learn and practice Pandas

---
Dr Fernando Benitez -  University of St Andrews - School of Geography and Sustainable Development - Third Iteration 2024.1

### Introduction 

After practicing **NumPy**, this notebook aims to work with the library **Pandas** which allows for reading in and working with data tables.

Most geo spatial scientists are first introduced to data tables in the form of an Excel Spreadsheet. In such a structure, each record or feature is represented by a row of data while each column represents a specific piece of information for each record. Sometimes we call that a variable, or attribute. 

Further, spreadsheets are able to hold different data types in each column. A comparable data structure would be handy for use in Python. This is made available by the **Pandas** library. Pandas allows for data to be stored in **DataFrames**. If you work in the R environment, this is very similar to the concept of data frames in R. In fact, *Pandas DataFrames were inspired by R data frames*. 

The complete documentation for Pandas can be found [here](https://pandas.pydata.org/).

After working through this module you will be able to:

1. Create and manipulate **Series** and **DataFrames** using Pandas.
2. Query and subset DataFrames.
3. Manipulate DataFrames.
4. Summarize and group DataFrames.

## Pandas

### Intro to Series

In [3]:
import numpy as np
import pandas as pd

Before we talk about DataFrames, I will introduce the concept of a **Series**. These are actually very similar to a NumPy array except that they allow for axis labels to be assigned. Examples of generating a series from **lists**, **NumPy arrays**, and **dictionaries** are provided below. 

A series is comparable to a single column from a Spreadsheet.

In [3]:
lst1 = ["GIS", "Remote Sensing", "Spatial Analysis", "Digital Cartography"]
arr1 = np.array([350, 455, 457, 642])
dict1 = {'Class1':"GIS", "Class2":"Remote Sensing", "Class3":"Spatial Analysis", "Class4":"Digital Cartography"}

s_lst = pd.Series(data=lst1, index = ["Class1", "Class2", "Class3", "Class4"])
s_arr = pd.Series(data=arr1, index = ["Class1", "Class2", "Class3", "Class4"])
s_dict = pd.Series(dict1)

print(s_lst)
print(s_arr)
print(s_dict)

Class1                    GIS
Class2         Remote Sensing
Class3       Spatial Analysis
Class4    Digital Cartography
dtype: object
Class1    350
Class2    455
Class3    457
Class4    642
dtype: int64
Class1                    GIS
Class2         Remote Sensing
Class3       Spatial Analysis
Class4    Digital Cartography
dtype: object

Labels or names can then be used to select data either using **bracket notation** or **dot notation**. 

You can use whichever method you prefer. However, if you use dot notation you should not included spaces in the column names.

In [4]:
print(s_dict["Class3"])
print(s_dict.Class3)

Spatial Analysis
Spatial Analysis

## Intro to DataFrames

Let's start by building a DataFrame from a set of lists. First, you can create three lists to hold different components of course title information.

Next, you could combine these lists into a dictionary. Finally, you can convert the dictionary into a DataFrame. 

Note that a well formatted table is generated by just calling the DataFrame name without the *print()* function; however, in the example we use *print()* (but try out both ways to see the difference). Also, the **keys** from the dictionary have been used as the column names, and a default index has been assigned to each row.

In [4]:
prefix = ["Geol", "Geol", "Geol", "Geol", "Geog", "Geog", "Geog"]
cnum = [103, 321, 331, 341, 350, 455, 462]
cname = ["Earth Through Time", "Geomorphology", "Paleontology", "Structural Geology", "GIScience", "Remote Sensing", "Digital Cartography"]
course_dict = {"prefix": prefix, "course_number": cnum, "course_name": cname}
course_df = pd.DataFrame(course_dict)
#course_df
print(course_df)

  prefix  course_number          course_name
0   Geol            103   Earth Through Time
1   Geol            321        Geomorphology
2   Geol            331         Paleontology
3   Geol            341   Structural Geology
4   Geog            350            GIScience
5   Geog            455       Remote Sensing
6   Geog            462  Digital Cartography

Since column names are assigned, they can be used to select out individual columns using bracket or dot notation. Single columns can be saved as a Series.

In [5]:
print(course_df["course_name"])
# Or course_df.course_name

0     Earth Through Time
1          Geomorphology
2           Paleontology
3     Structural Geology
4              GIScience
5         Remote Sensing
6    Digital Cartography
Name: course_name, dtype: object

A list of column names can be provided to subset out multiple columns.

In [6]:
print(course_df[["course_number", "course_name"]])

   course_number          course_name
0            103   Earth Through Time
1            321        Geomorphology
2            331         Paleontology
3            341   Structural Geology
4            350            GIScience
5            455       Remote Sensing
6            462  Digital Cartography

## Indexing with ```.loc``` and ```.iloc```

Pandas created the methods **.loc[]** and **.iloc[]** as more flexible alternatives for accessing data from a dataframe. 

Use ```df.iloc[]``` for indexing with integers and ```df.loc[]``` for indexing with labels.

These are typically the recommended methods of indexing in Pandas

1. Using the **.loc** method, you can subset based on **column names and row labels** combined, and 

2. The **.iloc** method, in contrast, is used for **selection based on indexes**.

In [7]:
print(course_df.loc[[1, 2, 4],["course_number", "course_name"]])
# Or course_df.iloc[[1, 2, 4],[1, 2]]

   course_number    course_name
1            321  Geomorphology
2            331   Paleontology
4            350      GIScience

You can even use the data stored in existing columns to create a new column. Note that the new column does not need to be declared prior to writing to it. In the example, I have written the entire course name to a new column. The *map()* method is used to make sure all data are treated as strings. It allow for the same function, in this case **str()**, to be applied to each element in an iterable, in this case each row in the DataFrame. I am including blank spaces so that the components are not ran together.

In [ ]:
course_df["full_name"] = course_df["prefix"].map(str)  + " " + course_df["course_number"].map(str)  + ": " + course_df["course_name"].map(str) 
print(course_df)

## Reading external files

Instead of creating data tables or DataFrames manually, you are probably more likely to read in a data table from a file (CSV) or web link. 

Fortunately, **Pandas** provides functions for reading data in from a variety of formats. Here are some examples:

* *read_table()*: delimited file (TXT, CSV, etc.)
* *read_csv()*: comma-separated values (CSV)
* *read_excel()*: Excel Spreadsheet
* *read_json()*: JavaScript Object Notation (JSON)
* *read_html()*: HTML table
* *read_sas()*: SAS file

Full documentation on reading in data can be found [here](https://pandas.pydata.org/docs/reference/io.html).

In the example below, I am reading in a CSV file from my local computer. The *sep* argument is used to define the deliminator ( like you have done in Excel).

However, commas are the default, so *it isn't necessary to include this argument in this case*.

Setting the *header* argument to 0 indicated that the first row of data should be treated as column names or headers. 

It isn't always necessary to specify the character encoding; But a best practice tells that it is necessary due to the use of special characters in some tables. 

To view the first 10 rows of the data. You can use the *head()* method.

The *len()* function returns the number of rows.

In [ ]:
cities_df = pd.read_csv('/arcgis/home/world_cities.csv', sep=",", header=0, encoding="ISO-8859-1")
cities_df.head(10)

In [ ]:
print(len(cities_df))

## DataFrame Query and Subset

Let's now use this data table to explore data query and selection methods. 

In the first example, I am selecting out Italian cities and saving them to a new DataFrame. Note the use of bracket notation. The code in the middle bracket is used to perform the selection. 

The second example includes a compound query. Note the use of parenthesis within the query. 

Lastly, it is also possible to subset out only certain columns that meet the query. In the last example, I am subsetting out just the name of the city and population.

In [ ]:
#Example 1
just_italy = cities_df[cities_df["country"]=="Italy"]
print(just_italy.head(10))
print('')
print(len(just_italy))
print('')
#Example 2
italy_med_cities = cities_df[(cities_df["country"]=="Italy") & (cities_df["pop"]>500000)]
print(italy_med_cities)
print('')
print(len(italy_med_cities))
print('')
#Example 3
italy_cities_pop = cities_df[(cities_df["country"]=="Italy") & (cities_df["pop"]>500000)][["city", "pop"]]
print(italy_cities_pop.head(3))
print('')

Another option for performing queries is to use the **query()** method provided by Pandas. When using this method, the query will need to be provided as an expression in string form. Also, spaces in column names can be problematic, so spaces should be removed or replaced with underscores.

In [ ]:
#Remove spaces in column names using list comprehension
cities_df.columns = [column.replace(" ", "_") for column in cities_df.columns]
#Example 1
just_spain = cities_df.query('country=="Spain"')
print(just_spain.head(10))
print('')
print(len(just_spain))
print('')
#Example 2
spanish_cities_df = cities_df.query('country=="Spain" and pop > 500000')
print(len(spanish_cities_df))
print('')
#Example 3
subset_query = cities_df.query('country=="Spain" and pop > 500000')[["city", "pop"]]
print(subset_query)
print('')

Once a query is complete, you may want to save the result back to a file on your local machine. The code below provides an example for saving out the last subset of data to a CSV file. The Pandas documentation provides examples for saving to other formats.

In [ ]:
subset_query.to_csv('/arcgis/home/subset_data.csv', sep=",", header=True)

## Missing Values

The *NULL*, *NoData*, or missing indicator in Python is *NaN*. To begin exploring missing values, let's recode some of the data to *NaN* in the cities data set. In the example below, I am changing the "Germany" and "Palestine" countries to *NaN*. I am also recoding any population between 10.000 and 50.000 to *NaN*. The *replace()* method is used to change the categories while the *mask()* method is used to recode the rating values. *np.nan* is a NumPy method for defining null values.

In [ ]:
cities_nan = cities_df.copy()
cities_nan["country"] = cities_nan[["country"]].replace(["Germany", "Palestine"], np.nan)
cities_nan['pop'].mask(cities_nan['pop'].between(10000, 50000), inplace=True)
print(cities_nan.head(10))
print('')
print(len(cities_nan))

The *dropna()* method can be used to remove rows or columns that contain missing data. If the axis parameter is set to 0, rows with missing values in any column will be removed. If it is set to 1, columns with missing data in any row will be removed.

In [ ]:
cities_drop = cities_nan.dropna(axis=0)
print(cities_drop.head(10))
print('')
print(len(cities_drop))
print('')
cities_dropc = cities_nan.dropna(axis=1)
print(cities_dropc.head(10))
print('')
print(len(cities_dropc))
print('')

The *.fillna()* method can be used to replace NA values with another value or string. In the example, I am changing the missing genres to "Unknown Country".

In [ ]:
cities_nan["country"] = cities_nan["country"].fillna(value="Unknown Country")
print(cities_nan.head(10))

It is also possible to replace null values with a statistic derived from the available values. In the example, I am replacing the missing population values with the mean of all available in the attribute. Of course this is not possible, here is just an example.

In [ ]:
cities_nan["pop"] = cities_nan["pop"].fillna(value=cities_nan["pop"].mean())
print(cities_nan.head(10))

## Grouping and Summarizing DataFrames

Pandas provides methods for summarizing data as described in the examples below. First, I am creating individual statistics and saving them to variables. I then create a Series from a dictionary of these statistics, convert it to a DataFrame using the *to_frame()* method, then transpose the DataFrame using *transpose()*.

In [ ]:
earthquake_df = pd.read_csv('/arcgis/home/Latest_earthquake_world.csv', sep=",", header=0, encoding="ISO-8859-1")
earthquake_df.head(5)

In [ ]:
earthquake_df = pd.read_csv('/arcgis/home/Latest_earthquake_world.csv', sep=",", header=0, encoding="ISO-8859-1")
earthquake_df.columns = [column.replace(" ", "_") for column in earthquake_df.columns]
earth_cnt = earthquake_df["mag"].count()
earth_mn = earthquake_df["mag"].mean()
earth_max = earthquake_df["mag"].max()
earth_min = earthquake_df["mag"].min()
earth_rang = earth_max-earth_min
earth_stats= pd.Series({"Count": earth_cnt, "Mean": earth_mn, "Max": earth_max, "Min": earth_min, "Range": earth_rang}).to_frame().transpose()
print(earth_stats)

It is also possible to obtain summary statistics for each group separately by applying the very useful *group_by()* method. In the example below, I am obtaining stats for each MagSource and saving them into a DataFrame. The columns do not need to be defined beforehand.

In [ ]:
earthquake_df = pd.read_csv('/arcgis/home/Latest_earthquake_world.csv', sep=",", header=0, encoding="ISO-8859-1")
earthquake_df.columns = [column.replace(" ", "_") for column in earthquake_df.columns]
earthquake_stats = pd.DataFrame()
earthquake_stats["Count"] = earthquake_df.groupby("magSource")['mag'].count()
earthquake_stats["Mean"] = earthquake_df.groupby("magSource")['mag'].mean()
earthquake_stats["Max"] = earthquake_df.groupby("magSource")['mag'].max()
earthquake_stats["Min"] = earthquake_df.groupby("magSource")['mag'].min()
earthquake_stats["Range"] = earthquake_stats["Max"] - earthquake_stats["Min"]
earthquake_stats

The *describe()* method can be used to obtain a set of default summary statistics for a column of data. Combining this with *group_by()* allows for the calculation of statistics by group.

In [ ]:
print(earthquake_df.groupby("mag")["depth"].describe())

## Concatenate and Merge

The Pandas *concat()* method is used to **concatenate** DataFrames that have the same columns. This is comparable to copying and pasting rows from two spreadsheets into a new spreadsheet. To demonstrate this, I have extracted rows using indexes. Next, I concatenate them back to a new DataFrame.

In [ ]:
earthquake_df = pd.read_csv('/arcgis/home/Latest_earthquake_world.csv', sep=",", header=0, encoding="ISO-8859-1")
earthquake_df.columns =[column.replace(" ", "_") for column in earthquake_df.columns]

earth_sub1 = earthquake_df[10:100]
earth_sub2 = earthquake_df[200:300]
earth_subc = pd.concat([earth_sub1, earth_sub2])
print(len(earthquake_df))
print(len(earth_subc))

**Merge** is comparable to table joins when using SQL. This requires the use of **keys** and the declaration of a joining method, such as "Left", "Right", "Inner", or "Outer". 

In the example, I first create a unique ID by copying the row index to a column (idx).

I then break the data into two components, each containing the ID and a subset of the remaining columns. 

I then use the *merge()* method to merge the DataFrames using the "inner" method and the common "id" field. "Inner" will only return rows that occur in both data sets. Since both DataFrames were derived from the same original DataFrame, they will have identical rows, so the result would be the same as using "left", where all rows from the left table are maintained even if they don't occur in the right table, or "right", where all rows from the right table are maintained even if they don't occur in the left table. 

In the second example, I use a query to separate out only earthquakes with magnitude of more than 4.0. When I perform a join with all of the data using the "inner" method, I only get back the common or shared rows. 

Note that there is also a *join()* method that joins based on indexes. However, that will not be demonstrated here.

In [ ]:
earthquake_df = pd.read_csv('/arcgis/home/Latest_earthquake_world.csv', sep=",", header=0, encoding="ISO-8859-1")

earthquake_df["idx"] = earthquake_df.index
print(earthquake_df.head(2))
print('')
print(len(earthquake_df))
print('')
subset_first = earthquake_df[["idx", "mag"]]
subset_second = earthquake_df[["idx", "depth", "place"]]

earth_merge = pd.merge(subset_first, subset_second, how="inner", on="idx")
print(earth_merge.head(5))
print('')
print(len(earth_merge))
print('')
subset_third = earthquake_df.query('mag > 4')[["idx", "place", "depth"]]
earth_merge2 = pd.merge(subset_first, subset_third, how="inner", on="idx")
print(earth_merge2.head(5))
print('')
print(len(earth_merge2))
print('')

## Final remarks

Well there is much to discuss and learn from the use of Pandas, but this is the initial step to get you familiarize with this library. Now it is your turn to try out the exercises to help you to recall and apply all the methods in these two notebook. So please open the **Exercises_NumPy_Pandas.ipynb** work on it. 

For more examples and details, please consult the documentation for [Pandas](https://pandas.pydata.org/docs/reference/io.html). 

In the next week, we will discuss methods for graphing and visualizing data using **matplotlib**, and **GeoPandas**.